<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GitWords</title>
    <meta name="description" content="An app to store your passwords in an encrypted Github Gist">
    <link rel="icon" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/icons/32x32.png">
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
    <meta name="theme-color" content="#379eff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="apple-mobile-web-app-title" content="GitWords">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/icons/150x150.png">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial ? 'preload' : 'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/) ? 'style' : 'script' %>">
    <% }}} %>
  </head>
  <body>
    <noscript>You need to enable JavaScript to use GitWords</noscript>
    <div id="App"></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
</html>
