#entry {
	flex: 0 0 75%;
	padding: 1rem;
	
	dl {
		display: flex;
		flex-wrap: wrap;
	}	
	
	dt {		
		flex: 0 0 25%;
		padding: 0.5rem 0;
	}
	
	dd {
		margin-left: 0;
		flex: 0 0 75%;
	}
	
	dt, dd {
		margin-bottom: 1rem;
	}
}