#header {
	background: #fff;
	border-bottom: $border-color solid 1px;
	padding: 1rem;
	display: flex;
	align-items: center;
	flex: 0 0 auto;
	position: relative;
	z-index: 3;
}

#title {
	margin: 0;
}

#actions {
	margin-left: auto;
}