.fade-down {
	&-transition {
		transition-property: opacity, margin-top;
		transition-duration: 0.5s;
		margin-top: 0;
	}
	&-enter,
	&-leave {
		opacity: 0;
		margin-top: -2rem;
	}
}
	

.fade {
	&-transition {
		transition: opacity 0.5s;
	}
	
	&-enter,
	&-leave {
		opacity: 0;	
	}
}

.expand {
	
	&-transition {
		overflow: hidden;
		transition: max-height 0.5s;
		max-height: 600px;
	}
	
	&-enter,
	&-leave {		
		max-height: 0;
	}
	
}