spacingBase = 1.5rem
grayLight = #DAE1E9
grayLighter = #f1f2f3
primary = #379eff

card()
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
  background: #fff
  padding: spacingBase
  border: 1px solid grayLight
  border-radius: 3px

modal()
  background: grayLighter
  width: 100vw
  min-height: 100vh
  position: fixed
  left: 0
  top: 0
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

modalBody()
  card()
  width: 100%
  max-width: 30rem

textCaps()
  text-transform: uppercase
  font-size: 87.5%
  letter-spacing: 0.1em
  font-weight: 600
